.cadastro-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  font-family: Inter, sans-serif;
}

.cadastro-page h2 {
  color: #101CFF;
  text-align: center;
  font-family: Figtree;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}


.cadastro-page h3 {
  color: #000;
  text-align: center;
  font-family: Figtree;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cadastro-form {
  width: 896px;
  height: 720px;
  flex-shrink: 0;
  background: #fff;
  border-radius: 30px;
  padding: 30px 40px;
  box-shadow: 1px 3px 25.5px 1px rgba(0, 0, 0, 0.14);
}

.tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid #eee;
  margin-bottom: 25px;
  font-size: 17px;
  color: #101CFF;
}

.tabs span {
  font-weight: 600;
  padding: 10px;
  color: #999;
  cursor: pointer;
}

.tabs .active {
  color: #0040ff;
  border-bottom: 3px solid #0040ff;
}

.grid {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(24, 1fr);
  margin-bottom: 20px;

}

.grid input {

  height: 61px;
  padding: 10px 12px;
  border-radius: 11px;
  font-size: 25px;
  outline: none;
  border: 1px solid #262626;
}

.check {
  display: flex;
  align-items: center;
  font-size: 24px;
  margin-top: 10px;
  color: #555;

}

.check input {
  margin-right: 8px;
  width: 22px;
  height: 22px;
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;


}


.btn-proximo {

  width: 70px;
  height: 36px;
  border: none;
  border-radius: 12px;
  margin: 6px auto 8px;
  display: flex;
  background: #00B7FF;
  cursor: pointer;
  padding: 25px 100px;


  color: #FFF;
  font-family: Figtree;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

.btn-voltar {
  background: #f1f1f1;
  color: #444;
}

.btn-proximo {
  position: fixed;
  bottom: 200px;
  right: 350px;
  background: #0040ff;
  color: #fff;
}


.campo1 {
  grid-column: span 8;
}

.campo2 {
  grid-column: span 16;
}

.campo3 {
  grid-column: span 14;
}


.campo4 {
  grid-column: span 10;
}


.campo5 {
  grid-column: span 8;
}

.campo6 {
  grid-column: span 5;
}

.campo7 {
  grid-column: span 3;
}

.acesso {
  display: flex;
  align-items: center;
  gap: 20px;


  font-size: 18px;
  color: #333;
  border: 1.5px solid #0f0f0f;
  border-radius: 10px;
  padding: 25px;
}

.acesso span {
  font-weight: 600;

}

.acesso label {
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 500;
}

.acesso input[type="radio"] {
  width: 20px;
  height: 20px;
  accent-color: #585757;
  cursor: pointer;
}