.painel-destaque {
  height: 200px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 1px 3px 25.5px 0 rgba(0, 0, 0, 0.14);
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: span 3;


}

.painel-destaque-valor {
color: #000;
padding-left: 50px;
padding-bottom: 5px;
font-family: Figtree;
font-size: 48px;
font-style: normal;
font-weight: 900;
line-height: normal;
text-transform: uppercase;
}

.painel-destaque-titulo {
  color: rgba(0, 0, 0, 0.56);

text-align: center;
font-family: Figtree;
font-size: 16px;
font-style: normal;
font-weight: 600;
line-height: normal;

}
